body {
    font-family: "Poppins", sans-serif;
}

.gallery-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery-images a {
    display: block;
    width: calc(33.33% - 10px);
    max-width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.gallery-images img {
    width: 100%;
    height: auto;
    transition: transform 0.2s ease-in-out;
}

.gallery-images a:hover img {
    transform: scale(1.05);
}
