.navbar {
    background-color: #22023f;
}

.navbar-brand,
.nav-item {
    color: white;
}
/* Media query untuk tata letak navbar pada perangkat seluler */
@media (max-width: 768px) {
    .navbar-light .navbar-toggler-icon {
        filter: invert(1);
    }
}