{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Halaman Gallery</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'aplikasi_maspix/css/gallery.css' %}" />
    </head>
    <body>
        <!-- Navbar -->
        {% include 'aplikasi_maspix/navbar.html' %}

        <div class="container">
            <h1>Selamat datang di halaman galeri!</h1>
            <div class="row" id="gallery">
                {% for gallery in galleries %}
                <div class="col-md-4">
                    <a href="{{ gallery.image.url }}" data-lg-size="1920-1080">
                        <img src="{{ gallery.image.url }}" alt="{{ gallery.title }}" class="img-thumbnail" />
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
