{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Halaman Portfolio</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'aplikasi_maspix/css/portfolio.css' %}" />
    </head>
    <body>
        <!-- Navbar -->
        {% include 'aplikasi_maspix/navbar.html' %}

        <div class="container">
            <h1 class="mb-4">Selamat datang di halaman portofolio!</h1>
            <div class="row">
                {% for portfolio in portfolios %}
                <div class="col-md-6 mb-4">
                    <div class="card h-100">
                        <img src="{{ portfolio.image.url }}" class="card-img-top" alt="{{ portfolio.title }}" />
                        <div class="card-body">
                            <h2 class="card-title">{{ portfolio.title }}</h2>
                            <p class="card-text">{{ portfolio.description }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
